## Standart gitignore configuration file.
## Copyright (c) 2024, Toshi Namura

# Add to gitignore all files.
/*

# git exceptions
!/.git/
!/.gitignore
!/LICENSE.txt
!/README.md

# Client
!/mods/
!/resourcepacks/
!/shaderpacks/

## Config
!/config/
/config/*

### ae2
!/config/ae2
/config/ae2/*
!/config/ae2/client.json
!/config/ae2/common.json