## Standart gitignore configuration file.
## Copyright (c) 2024, Toshi Namura

# Add to gitignore all files.
/*

# git exceptions
!/.git/
!/.gitignore
!/LICENSE.txt
!/README.md

# Client
!/mods/
!/resourcepacks/
!/shaderpacks/

## Config
!/config/
/config/*

### ae2
!/config/ae2
/config/ae2/*
!/config/ae2/client.json
!/config/ae2/common.json

### bclib
!/config/bclib
/config/bclib/*
!/config/bclib/biomes.json
!/config/bclib/cache.json
!/config/bclib/client.json
!/config/bclib/generator.json
!/config/bclib/main.json
!/config/bclib/server.json

### betterend
!/config/betterend
/config/betterend/*
!/config/betterend/blocks.json
!/config/betterend/client.json
!/config/betterend/enchantments.json
!/config/betterend/entities.json
!/config/betterend/generator.json
!/config/betterend/items.json
!/config/betterend/portals.json