## Standart gitignore configuration file.
## Copyright (c) 2024, Toshi Namura

# Add to gitignore all files.
/*

# git exceptions
!/.git/
!/.gitignore
!/LICENSE.txt
!/README.md

# Client
!/mods/
!/resourcepacks/
!/shaderpacks/

## config
!/config/
/config/*

### config/ae2
!/config/ae2
/config/ae2/*
!/config/ae2/client.json
!/config/ae2/common.json

### config/bclib
!/config/bclib
/config/bclib/*
!/config/bclib/biomes.json
!/config/bclib/cache.json
!/config/bclib/client.json
!/config/bclib/generator.json
!/config/bclib/main.json
!/config/bclib/server.json

### config/betterend
!/config/betterend
/config/betterend/*
!/config/betterend/blocks.json
!/config/betterend/client.json
!/config/betterend/enchantments.json
!/config/betterend/entities.json
!/config/betterend/generator.json
!/config/betterend/items.json
!/config/betterend/portals.json

### config/betternether
!/config/betternether
/config/betternether/*
!/config/betternether/biomes.json
!/config/betternether/blocks.json
!/config/betternether/generator.json
!/config/betternether/items.json
!/config/betternether/main.json
!/config/betternether/mobs.json

### config/
!/config/structureessentials.json
!/config/ubesdelight.json
!/config/worldeditcui.config.json